.banner {
    background-image: url('../img/bannerImg.jpeg');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    color: #a5176b;
    font-size: 1rem;
    font-weight: bold;
    background-color: black;
}

.row h5 {
    color: #023047;
}

.btn-login {
    background-color: white;
    color: #a5176b;
    box-shadow: inset 1px 1px 8px #a5176b;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-color: #a5176b;
}

.btn-register {
    background-color: #a5176b;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-login:hover {
    transform: scale(1.1);
    color: #a5176b;
}

.btn-register:hover {
    transform: scale(1.1);
    color: white;
}

.banner h1 {
    font-size: 4rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.5rem;
    font-weight: 600;
}
.bg-banner{
    background-color: #5a3f7288; 
    padding: 20px; 
    border-radius: 8px; 
    margin-top: 20px;
}
.bg-subtitle {
    color: #FB8500;
}

.img-custom {
    width: 50%; 
    height: auto; 
    max-width: 400px; 
    display: block; 
    margin: 1rem auto; 
    border-radius: 8px; 
}
.creadores {
    display: flex;
    justify-content: center;
    gap: 20px; 
    color: #a5176b;
}
.creator-link i {
    margin-right: 2px; 
}
.func{
    border-radius: 8px; 
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 
                0px 20px 30px rgba(0, 0, 0, 0.1), 
                0px 30px 45px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.func:hover{
    transform: translateY(-10px); 
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15), 
                0px 30px 45px rgba(0, 0, 0, 0.15), 
                0px 40px 60px rgba(0, 0, 0, 0.15); 
}